In [1]:
import pandas as pd

# 导入数据

In [2]:
df = pd.read_excel('./data/demo_09.xlsx')

In [4]:
df.head()

      产品名称    价格    销量  大区
0  产品A0045  89.8  1300  华南
1  产品A0030  59.8  2355  华北
2  产品A0067  89.8   110  华东
3  产品A0073  89.8   120  华中
4  产品A0079  69.8   541  华西

# 按一列排序

In [5]:
df.sort_values(by='销量', ascending=False)

       产品名称     价格    销量  大区
1   产品A0030   59.8  2355  华北
0   产品A0045   89.8  1300  华南
9   产品A0099   69.8   888  华中
14  产品A0044   79.8   888  华北
13  产品A0072   69.8   663  华南
8   产品A0078   59.8   625  华东
15  产品A0034   99.8   559  华中
4   产品A0079   69.8   541  华西
19  产品A0018   79.8   456  华南
25  产品A0090   69.8   354  华南
10  产品A0031   79.8   333  华西
20  产品A0065   79.8   322  华北
16  产品A0032  128.0   281  华西
7   产品A0010   79.8   271  华南
26  产品A0026   79.8   248  华东
11  产品A0094   79.8   241  华东
17  产品A0036   79.8   148  华东
23  产品A0077   69.8   129  华西
6   产品A0098   69.8   120  华西
18  产品A0071   49.8   120  华北
3   产品A0073   89.8   120  华中
12  产品A0042   59.8   120  华北
21  产品A0059   69.8   120  华东
22  产品A0041   79.8   120  华中
24  产品A0058   69.8   120  华北
5   产品A0068   79.8   120  华中
2   产品A0067   89.8   110  华东

# 按多列排序
- 排序方式相同，均为升序或降序

In [7]:
df.sort_values(by=['大区', '销量'], ascending=False)

       产品名称     价格    销量  大区
4   产品A0079   69.8   541  华西
10  产品A0031   79.8   333  华西
16  产品A0032  128.0   281  华西
23  产品A0077   69.8   129  华西
6   产品A0098   69.8   120  华西
0   产品A0045   89.8  1300  华南
13  产品A0072   69.8   663  华南
19  产品A0018   79.8   456  华南
25  产品A0090   69.8   354  华南
7   产品A0010   79.8   271  华南
1   产品A0030   59.8  2355  华北
14  产品A0044   79.8   888  华北
20  产品A0065   79.8   322  华北
12  产品A0042   59.8   120  华北
18  产品A0071   49.8   120  华北
24  产品A0058   69.8   120  华北
9   产品A0099   69.8   888  华中
15  产品A0034   99.8   559  华中
3   产品A0073   89.8   120  华中
5   产品A0068   79.8   120  华中
22  产品A0041   79.8   120  华中
8   产品A0078   59.8   625  华东
26  产品A0026   79.8   248  华东
11  产品A0094   79.8   241  华东
17  产品A0036   79.8   148  华东
21  产品A0059   69.8   120  华东
2   产品A0067   89.8   110  华东

# 按多列排序
- 排序方式不同，一列升序一列降序

In [8]:
df.sort_values(by=['大区', '销量'], ascending=[True, False])

       产品名称     价格    销量  大区
8   产品A0078   59.8   625  华东
26  产品A0026   79.8   248  华东
11  产品A0094   79.8   241  华东
17  产品A0036   79.8   148  华东
21  产品A0059   69.8   120  华东
2   产品A0067   89.8   110  华东
9   产品A0099   69.8   888  华中
15  产品A0034   99.8   559  华中
3   产品A0073   89.8   120  华中
5   产品A0068   79.8   120  华中
22  产品A0041   79.8   120  华中
1   产品A0030   59.8  2355  华北
14  产品A0044   79.8   888  华北
20  产品A0065   79.8   322  华北
12  产品A0042   59.8   120  华北
18  产品A0071   49.8   120  华北
24  产品A0058   69.8   120  华北
0   产品A0045   89.8  1300  华南
13  产品A0072   69.8   663  华南
19  产品A0018   79.8   456  华南
25  产品A0090   69.8   354  华南
7   产品A0010   79.8   271  华南
4   产品A0079   69.8   541  华西
10  产品A0031   79.8   333  华西
16  产品A0032  128.0   281  华西
23  产品A0077   69.8   129  华西
6   产品A0098   69.8   120  华西

# 对分组统计结果排序

In [18]:
tb = df.groupby('大区')['销量'].sum().reset_index()
tb.sort_values(by='销量', ascending=False)

# df.groupby('大区')['销量'].sum().reset_index() \
#     .sort_values(by='销量', ascending=False)

# (df.groupby('大区')['销量'].sum()
#  .reset_index()
#  .sort_values(by='销量', ascending=False))

   大区    销量
2  华北  3925
3  华南  3044
1  华中  1807
0  华东  1492
4  华西  1404

# rank方法排序
- method : {'average', 'min', 'max', 'first', 'dense'}

In [23]:
df.head()

      产品名称    价格    销量  大区  销量(avg)
0  产品A0045  89.8  1300  华南      2.0
1  产品A0030  59.8  2355  华北      1.0
2  产品A0067  89.8   110  华东     27.0
3  产品A0073  89.8   120  华中     22.5
4  产品A0079  69.8   541  华西      8.0

In [24]:
# SQL无此函数,但可以加工实现
df['销量(avg)'] = df['销量'].rank(method='average', ascending=False)
# 类似SQL的rank
df['销量(min)'] = df['销量'].rank(method='min', ascending=False)
# SQL无此函数,但可以加工实现
df['销量(max)'] = df['销量'].rank(method='max', ascending=False)
# 类似SQL的row_number
df['销量(first)'] = df['销量'].rank(method='first', ascending=False)
# 类似SQL的dense_rank
df['销量(dense)'] = df['销量'].rank(method='dense', ascending=False)

In [26]:
df.to_excel('rank.xlsx')