In [3]:
import pandas as pd
from pandasql import sqldf
# !pip install pandasql
# !conda install pandasql
# sqlite3数据库SQL语言
# https://www.runoob.com/sqlite/sqlite-tutorial.html

In [6]:
def pysqldf(q): return sqldf(q, globals())
# pysqldf = lambda q:sqldf(q, globals())

In [8]:
df = pd.read_excel('./data/demo_09.xlsx')
df.head()

      产品名称    价格    销量  大区
0  产品A0045  89.8  1300  华南
1  产品A0030  59.8  2355  华北
2  产品A0067  89.8   110  华东
3  产品A0073  89.8   120  华中
4  产品A0079  69.8   541  华西

In [14]:
sql = """
select 
    大区, sum(销量) as 销量
from df
where 大区 in ('华北', '华南', '华中', '华东')
group by 大区
having sum(销量) > 1500
order by 销量 desc
limit 2
"""
tb = pysqldf(sql)
tb

   大区    销量
0  华北  3925
1  华南  3044