In [1]:
import pandas as pd
import arrow
# !pip install arrow

# arrow时间模块

- 获取当前时间

In [2]:
arrow.now()

- 从字符串解析日期

In [3]:
string = '2022/04/01 14:24:30'
arrow.get(string, 'YYYY/MM/DD hh:mm:ss')

In [4]:
arrow.get('Joe was born in 29 July 2000', 'DD MMMM YYYY')
# https://arrow.readthedocs.io/en/latest/

|                      | Token | Output                                    |
| -------------------- | ----- | ----------------------------------------- |
| Year                 | YYYY  | 2000, 2001, 2002 …   2012, 2013           |
|                      | YY    | 00, 01, 02 … 12, 13                       |
| Month                | MMMM  | January, February, March … 1              |
|                      | MMM   | Jan, Feb, Mar … 1                         |
|                      | MM    | 01, 02, 03 … 11, 12                       |
|                      | M     | 1, 2, 3 … 11, 12                          |
| Day of Year          | DDDD  | 001, 002, 003 … 364,   365                |
|                      | DDD   | 1, 2, 3 … 364, 365                        |
| Day of Month         | DD    | 01, 02, 03 … 30, 31                       |
|                      | D     | 1, 2, 3 … 30, 31                          |
|                      | Do    | 1st, 2nd, 3rd … 30th,   31st              |
| Day of Week          | dddd  | Monday, Tuesday, Wednesday … 2            |
|                      | ddd   | Mon, Tue, Wed … 2                         |
|                      | d     | 1, 2, 3 … 6, 7                            |
| ISO week date        | W     | 2011-W05-4, 2019-W17                      |
| Hour                 | HH    | 00, 01, 02 … 23, 24                       |
|                      | H     | 0, 1, 2 … 23, 24                          |
|                      | hh    | 01, 02, 03 … 11, 12                       |
|                      | h     | 1, 2, 3 … 11, 12                          |
| AM / PM              | A     | AM, PM, am, pm 1                          |
|                      | a     | am, pm 1                                  |
| Minute               | mm    | 00, 01, 02 … 58, 59                       |
|                      | m     | 0, 1, 2 … 58, 59                          |
| Second               | ss    | 00, 01, 02 … 58, 59                       |
|                      | s     | 0, 1, 2 … 58, 59                          |
| Sub-second           | S…    | 0, 02, 003, 000006, 123123123123… 3       |
| Timezone             | ZZZ   | Asia/Baku, Europe/Warsaw, GMT … 4         |
|                      | ZZ    | -07:00, -06:00 … +06:00, +07:00, +08,   Z |
|                      | Z     | -0700, -0600 … +0600,   +0700, +08, Z     |
| Seconds   Timestamp  | X     | 1381685817, 1381685817.915482 … 5         |
| ms or µs   Timestamp | x     | 1569980330813, 1569980330813221           |

- 实例化日期

In [5]:
arrow.get(2022, 4, 1)

- 获取当前时间
- 获取年份部分
- 获取日期部分
- 获取时间部分
- 向后偏移3周
- 明年的上月的今天
- 向前偏移1小时
- 向后偏移2小时

In [6]:
# 获取当前时间
now = arrow.now()
# 获取年份部分
now.year
# 获取日期部分
now.date()
# 获取时间部分
now.time()
# 向后偏移3周
now.shift(weeks=3)
# 明年的上月的今天
now.shift(years=1, months=-1, weeks=2)
# 向前偏移1小时
now.shift(hours=-1)
# 向后偏移2小时
now.shift(hours=2)
# 向过去偏移为负数,向未来偏移为正数,参数为复数(s)

# 生成时间序列

- 开始：2021-01-01，结束：2021-01-31，间隔5天

In [8]:
# start, 开始值
# end, 结束值
# periods, 数目
# freq, 时间频率
pd.date_range('2021-01-01', '2021-01-31', freq='5D')

DatetimeIndex(['2021-01-01', '2021-01-06', '2021-01-11', '2021-01-16',
               '2021-01-21', '2021-01-26', '2021-01-31'],
              dtype='datetime64[ns]', freq='5D')

- 开始：2021-01-01，间隔2天，数目5个

In [10]:
pd.date_range('2021-01-01', freq='2D', periods=5)

DatetimeIndex(['2021-01-01', '2021-01-03', '2021-01-05', '2021-01-07',
               '2021-01-09'],
              dtype='datetime64[ns]', freq='2D')

- 开始：2021-01-01，结束：2021-01-31，间隔1周

In [11]:
pd.date_range('2021-01-01', '2021-01-31', freq='W')

DatetimeIndex(['2021-01-03', '2021-01-10', '2021-01-17', '2021-01-24',
               '2021-01-31'],
              dtype='datetime64[ns]', freq='W-SUN')

- 开始：2021-01-01，间隔3小时，数目8个

In [12]:
pd.date_range('2021-01-01', freq='3H', periods=8)

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 03:00:00',
               '2021-01-01 06:00:00', '2021-01-01 09:00:00',
               '2021-01-01 12:00:00', '2021-01-01 15:00:00',
               '2021-01-01 18:00:00', '2021-01-01 21:00:00'],
              dtype='datetime64[ns]', freq='3H')

- 开始：2021-01-01 09:00，间隔1分钟，9点开始，数目12个

In [17]:
# 分钟时间频率为min/T
pd.date_range('2021-01-01 09:00', freq='min', periods=12)

DatetimeIndex(['2021-01-01 09:00:00', '2021-01-01 09:01:00',
               '2021-01-01 09:02:00', '2021-01-01 09:03:00',
               '2021-01-01 09:04:00', '2021-01-01 09:05:00',
               '2021-01-01 09:06:00', '2021-01-01 09:07:00',
               '2021-01-01 09:08:00', '2021-01-01 09:09:00',
               '2021-01-01 09:10:00', '2021-01-01 09:11:00'],
              dtype='datetime64[ns]', freq='T')

- 开始：2021-01-01，结束：2021-12-31，间隔1月，月末最后1天

In [20]:
pd.date_range('2021-01-01', '2021-12-31', freq='M')
# pd.date_range('2021-01-01', '2021-12-31', freq='MS')

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')

- 开始：2021-01-01，间隔1年，年末最后1天，数目6个

In [21]:
pd.date_range('2021-01-01', freq='Y', periods=6)

DatetimeIndex(['2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

- 开始：2021-01-01，间隔1年，年初第一天，数目6个

In [22]:
pd.date_range('2021-01-01', freq='YS', periods=6)

DatetimeIndex(['2021-01-01', '2022-01-01', '2023-01-01', '2024-01-01',
               '2025-01-01', '2026-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

# 时间序列加减

In [23]:
df = pd.DataFrame(
    data=pd.date_range('2021-01-01', freq='3D', periods=15),
    columns=['日期'])
df

           日期
0  2021-01-01
1  2021-01-04
2  2021-01-07
3  2021-01-10
4  2021-01-13
5  2021-01-16
6  2021-01-19
7  2021-01-22
8  2021-01-25
9  2021-01-28
10 2021-01-31
11 2021-02-03
12 2021-02-06
13 2021-02-09
14 2021-02-12

## 时间序列加减，天为单位

In [31]:
df['日期加10天'] = df['日期'] + pd.DateOffset(days=10)
df['日期减10天'] = df['日期'] - pd.DateOffset(days=10)
# df['日期减10天'] = df['日期'] + pd.DateOffset(days=-10)

## 时间序列加减，月为单位

In [35]:
df['日期加1月'] = df['日期'] + pd.DateOffset(months=1)
df['日期减1月'] = df['日期'] - pd.DateOffset(months=1)

## 时间序列加减，周为单位

In [36]:
df['日期加2周'] = df['日期'] + pd.DateOffset(weeks=2)
df['日期减2周'] = df['日期'] - pd.DateOffset(weeks=2)

## 向前(未来)偏移
- 得到最近的月末时间点

In [38]:
df['下期月末'] = df['日期'] + pd.offsets.MonthEnd(n=1)

## 向后(过去)偏移
- 得到最近的季末时间点

In [40]:
df['下期月末'] = df['日期'] - pd.offsets.QuarterEnd(n=1)

## 实例化日期

In [42]:
pd.Timestamp('now')

Timestamp('2022-04-01 15:44:47.317650')

In [43]:
pd.Timestamp(2022, 4, 1, 15, 45, 30)

Timestamp('2022-04-01 15:45:30')