In [1]:
import numpy as np
import pandas as pd

# 设置小数位数
- 生成5行5列[0, 1)的随机小数

In [27]:
df = pd.DataFrame(
    data=np.random.rand(5, 5),
    columns=['A', 'B', 'C', 'D', 'E'])
df

          A         B         C         D         E
0  0.780993  0.093075  0.157465  0.137905  0.759775
1  0.777463  0.759072  0.682171  0.020564  0.143568
2  0.613835  0.464469  0.478584  0.610680  0.775372
3  0.280663  0.149026  0.660957  0.420872  0.379596
4  0.083518  0.157884  0.964784  0.313437  0.492796

- 所有列保留2位小数

In [15]:
df.round(2)

      A     B     C     D     E
0  0.82  0.55  0.85  0.49  0.31
1  0.74  0.17  0.47  0.07  0.51
2  0.63  0.69  0.64  0.09  0.85
3  0.47  0.69  0.03  0.66  0.30
4  0.83  0.03  0.13  0.72  0.44

- 使用字典方法
- A列保留1位小数
- B列保留2位小数

In [16]:
df.round({'A': 1, 'B': 2, 'C': 3})

     A     B      C         D         E
0  0.8  0.55  0.853  0.494967  0.313299
1  0.7  0.17  0.473  0.069854  0.508920
2  0.6  0.69  0.639  0.090356  0.845188
3  0.5  0.69  0.033  0.662691  0.303821
4  0.8  0.03  0.130  0.716505  0.435131

- 使用Series方法
- C列保留1位小数
- D列保留2位小数

In [17]:
s = pd.Series(index=['A', 'B', 'C'], data=[1, 2, 3])
s
df.round(s)

     A     B      C         D         E
0  0.8  0.55  0.853  0.494967  0.313299
1  0.7  0.17  0.473  0.069854  0.508920
2  0.6  0.69  0.639  0.090356  0.845188
3  0.5  0.69  0.033  0.662691  0.303821
4  0.8  0.03  0.130  0.716505  0.435131

# 设置百分比

## apply方法
- 指定列保留0位小数的百分比

In [18]:
df['A'].apply(lambda x: '{:.0%}'.format(x))

0    82%
1    74%
2    63%
3    47%
4    83%
Name: A, dtype: object

- 指定列保留2位小数的百分比

In [19]:
df['A'].apply(lambda x: '{:.2%}'.format(x))

0    82.12%
1    74.15%
2    62.90%
3    47.26%
4    83.21%
Name: A, dtype: object

- 所有列保留2位小数的百分比

In [20]:
df.apply(lambda x: '{:.2%}'.format(x), axis=1)
# 不支持
# TypeError: unsupported format string passed to Series.__format__ 

# df['A'] = df['A'].apply(lambda x: '{:.2%}'.format(x))
# df['B'] = df['B'].apply(lambda x: '{:.2%}'.format(x))
# df['C'] = df['C'].apply(lambda x: '{:.2%}'.format(x))
# df['D'] = df['D'].apply(lambda x: '{:.2%}'.format(x))
# df['E'] = df['E'].apply(lambda x: '{:.2%}'.format(x))

TypeError: unsupported format string passed to Series.__format__

In [28]:
tb = df.copy()
for col in tb.columns:
    tb[col] = tb[col].apply(lambda x: '{:.2%}'.format(x))

## map方法
- Series对象的方法，不支持多列的操作
- 指定列保留2位小数的百分比

In [30]:
df['A'].map(lambda x: '{:.2%}'.format(x))

0    78.10%
1    77.75%
2    61.38%
3    28.07%
4     8.35%
Name: A, dtype: object

## applymap方法
- DataFrame对象的方法，不支持单列的操作
- 所有列保留2位小数的百分比

In [32]:
df.applymap(lambda x: '{:.2%}'.format(x))

        A       B       C       D       E
0  78.10%   9.31%  15.75%  13.79%  75.98%
1  77.75%  75.91%  68.22%   2.06%  14.36%
2  61.38%  46.45%  47.86%  61.07%  77.54%
3  28.07%  14.90%  66.10%  42.09%  37.96%
4   8.35%  15.79%  96.48%  31.34%  49.28%

# 设置千位分隔符
- 生成10行1列[1000, 10000)的随机整数

In [34]:
df = pd.DataFrame(
    data=np.random.randint(1000, 10000, 10),
    columns=['销售金额'])
df

   销售金额
0  6820
1  5161
2  3252
3  3888
4  2522
5  6706
6  5704
7  6836
8  6229
9  6722

In [37]:
df['销售金额'].apply(lambda x: '{:,}'.format(x))

0    6,820
1    5,161
2    3,252
3    3,888
4    2,522
5    6,706
6    5,704
7    6,836
8    6,229
9    6,722
Name: 销售金额, dtype: object