## 导入库

In [1]:
import pandas as pd
import warnings

## 屏蔽警告提示

In [2]:
warnings.filterwarnings('ignore')

## 读取Excel

In [3]:
df = pd.read_excel('./data/demo_01.xlsx', engine='openpyxl')

## 预览前5行

In [6]:
df.head()

    姓名           电话
0   李雪  13655497526
1   易强  13496746027
2  王桂花  13387348085
3   李磊  18918743191
4   汪洁  13264456992

## 列名对齐
- display.unicode.ambiguous_as_wide
- display.unicode.east_asian_width

In [ ]:
pd.set_option('display.unicode.ambiguous_as_wide', True)
pd.set_option('display.unicode.east_asian_width', True)

## 禁止换行

In [ ]:
pd.set_option('expand_frame_repr', False)

## 显示所有行

In [ ]:
pd.set_option('display.max_rows', None)

## 最多显示10行

In [ ]:
pd.set_option('display.max_rows', 10)

## 显示所有列

In [ ]:
pd.set_option('display.max_columns', None)

## 最多显示10列

In [ ]:
pd.set_option('display.max_columns', 10)

## 设置内容的显示宽度

In [ ]:
pd.set_option('display.width', 100)

## 设置数值的显示精度

In [ ]:
pd.set_option('display.precision', 2)

## 设置小数的显示格式

In [ ]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
# '{:.2f}'.format(x)，小数点
# '{:.2%}'.format(x)，百分比

## 设置计算引擎

In [ ]:
pd.set_option('compute.use_numba', True)

## 获取指定选项的设置情况

In [7]:
pd.get_option('compute.use_numba')

False

## 条件格式

In [ ]:
# pandas.io.formats.style.Styler

In [8]:
df.style.highlight_max()